<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Talk Paper Scissors</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✂️</text></svg>">
  <script data-goatcounter="https://talkpaperscissors.goatcounter.com/count" async="" src="//gc.zgo.at/count.js"></script>
  <style>
    body { 
      line-height: 1.4;
        font-size: 16px;
        padding: 0 10px;
        margin: 50px auto;
        max-width: 650px;
    }

    #maincontent {
      max-width:42em;margin:15 auto;
    }

    div.logoContainer {
      text-align: center; 
    }

    img.logo {
      width: 200px;
    }
  </style>
</head>
<body>

  <div id="maincontent">
    <h1 style="font-weight: normal;text-align: center;">Talk Paper Scissors</h1><div class="logoContainer"><img src="/static/core/images/rock-with-eyes.24fd0230b067.png" class="logo" style="
    /* box-shadow: 1px 1px 50px black; */
">

<input type="text" style="
    position: absolute;
    top: 284px;
    left: 435px;
    border-radius: 8px;
    border: 0;
    box-shadow: 5px 5px 10px black;
" autofocus="" placeholder="you@gmail.com">
    <input type="submit" value="subscribe" style="
    position: absolute;
    top: 282px;
    left: 583px;
    border-radius: 10px;
    cursor: pointer;
"><button style="
    position: absolute;
    top: 349px;
    left: 385px;
    font-size: 21px;
    color: black;
    border-radius: 32px;
    background: white;
    box-shadow: 1px 1px 50px black;
    /* border: 0; */
" disabled="">☝️☝️ GET UPDATES ☝️☝️</button>

</div>
    
    

    
<div>
    <p style="
    margin-top: 104px;
    padding-left: 120px;
    padding-right: 120px;
">
        aoidjhaiuosdh aiouhd asiufh aiosfuh asoifh aiusfh asiugfbh aofg aosifh gaiushf aiugf aiughf aisf
    </p>
</div>
<div style="font-size: 3rem;text-align: center;margin-top: 48px;">
      
        <a href="tel:+18667625492">+1 866 762 5492</a>
      
    </div>

    <div style="margin-top:70px; font-size: 0.9rem">
      <hr>
      A game by <a href="https://eieio.games/">eieio</a> and <a href="https://greg.technology/">greg technology</a>.
    </div>

  </div>


</body></html>