{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="talk paper scissors">
  <meta property="og:description" content="play rock paper scissors live over the phone with strangers">
  <meta property="og:url" content="https://talkpaperscissors.com">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://talkpaperscissors.com/talkpaperscissors.png">
  <meta name="twitter:title" content="talk paper scissors">
  <meta name="twitter:description" content="play rock paper scissors live over the phone with strangers">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://talkpaperscissors.com/talkpaperscissors.png">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <title>Talk Paper Scissors</title>

  <script data-goatcounter="https://talkpaperscissors.goatcounter.com/count"
          async src="//gc.zgo.at/count.js"></script>
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }
    body { 
      line-height: 1.4;
        font-size: 16px;
        padding: 0 10px;
        margin: 20px auto;
        max-width: 650px;
    }

    #maincontent {
      max-width:400px;
      margin:0 auto;
    }

    div.logoContainer {
      text-align: center;
      position: relative;
    }

    img.logo {
      width: 400px;
    }

    a.telephone {
      text-decoration-color: rgba(0,0,0,0.2);
      text-decoration-thickness: 5%;
      text-decoration-style: dashed;
      text-underline-offset: 5px;
      color: black;
      font-family: monospace;
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelector('#js-main-telephone').addEventListener('mouseover', function() {
        this.innerHTML = '+1 515 ROCK ROC';
      });
      document.querySelector('#js-main-telephone').addEventListener('mouseout', function() {
        this.innerHTML = '+1 515 762 5762';
      });      

      var form = document.querySelector("form");

      function sayThanks() {
        var submitButton = document.querySelector('input[type="submit"]')
        submitButton.value = 'THANKS'
        setTimeout(function() {
          submitButton.value = 'subscribe'
        }, 2000);

      }

      function handleSubmit(event) {
        event.preventDefault();
        var data = new FormData(event.target);
        fetch(event.target.action, {
          method: form.method,
          body: data,
          headers: {
            'Accept': 'application/json'
        }
        }).then(response => {
          if (response.ok) {
            form.reset()
            sayThanks();
          } else {
            response.json().then(data => {
              sayThanks();
          })
        }
        }).catch(error => {
          sayThanks();
        });
      }
      form.addEventListener("submit", handleSubmit)
    });
  </script>
</head>
<body>

  <div id="maincontent">
    <h1 style='font-weight: normal; margin-top: 0; margin-bottom:30px;'>Talk Paper Scissors</h1>

    <div class='logoContainer'>

      <img src="/talkpaperscissors.png" class='logo'>

      <form action="https://formspree.io/f/mjvnbaja" method="POST">
      <input type="email" name="email" style="
          position: absolute;
          top: 180px;
          left: 110px;
          border-radius: 8px;
          border: 0;
          box-shadow: 5px 5px 10px black;
          width: 140px;
      " autofocus="" placeholder="you@gmail.com">
      
      <input type="submit" value="subscribe" style="
          position: absolute;
          top: 180px;
          left: 270px;
          border-radius: 10px;
          cursor: pointer;
      ">

      <button style="
      margin-top: 20px;
          font-size: 21px;
          color: black;
          border-radius: 32px;
          background: white;
          box-shadow: 1px 1px 50px black;
          /* border: 0; */
      " disabled="">☝️☝️ GET UPDATES ☝️☝️</button>
    </div>
    
    <div style="margin-top:50px;">
      <p style="margin:0 auto;">
        Play rock paper scissors over the phone with strangers. To get started call this number:
      </p>
    </div>

    <div style='font-size:2.5rem; text-align: center; margin-top: 30px;'>
      <a href="tel:+15157625762" class='telephone' id='js-main-telephone'>+1 515 762 5762</a>
    </div>
    <div style='text-align: center;'>
      <span style="font-size:0.9rem;color:grey"><i>(US number; you can call from abroad but beware charges!)</i></span>
    </div>

    <div style="margin-top:30px;">
      <p style="margin:0 auto;">
        You'll be paired with a stranger and prompted to say rock paper or scissors. You'll be asked to repeat yourself if you say anything else. Then you'll hear what they said.<br/><br/>
        Each game is 3 rounds. Your record is tracked across games.
      </p>
    </div>

    <div style='margin-top:30px; font-size: 0.9rem'>
      <hr>
      A game by {{authors|first|safe}} and {{authors|last|safe}}.
    </div>

  </div>

</body>
</html>