{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Talk Paper Scissors</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✂️</text></svg>">
  <script data-goatcounter="https://talkpaperscissors.goatcounter.com/count"
          async src="//gc.zgo.at/count.js"></script>
  <style>
    body { 
      line-height: 1.4;
        font-size: 16px;
        padding: 0 10px;
        margin: 50px auto;
        max-width: 650px;
    }

    #maincontent {
      max-width:42em;margin:15 auto;
    }

    div.logoContainer {
      text-align: center; 
    }

    img.logo {
      width: 200px;
    }
  </style>
</head>
<body>

  <div id="maincontent">
    <div class='logoContainer'><img src="{% static 'core/images/rock-with-eyes.png' %}" class='logo'></div>
    
    <h1 style='font-weight: normal'>Talk Paper Scissors</h1>

    <div style='font-size:4rem; text-align: center; margin-top: 80px;'>
      {% if debug %}
        DEV!!! <a href="tel:+18722393464">+1 872 239 3464</a>
      {% else %}
        <a href="tel:+18667625492">+1 866 762 5492</a>
      {% endif %}
    </div>

    <div style='margin-top:70px; font-size: 0.9rem'>
      <hr>
      A game by {{authors|first|safe}} and {{authors|last|safe}}.
    </div>

  </div>

</body>
</html>